/* Light Mode Colors; Default*/

:root{
    --background: #f4f4fb;
    --surface: #fdfdff;
    --text: #1A2744;
    --button: #008fff;
}


body div#servicesForm form {
    background-color: white;
}


/* Dark Mode */
.dark-mode {
    --background: #1a2744;
    --surface: #23345a;
    --text: #f4f4fb;
    --button: #45adff;
}

body {
    background-color: var(--background);
    color: var(--text);
    color: var(--surface);
    color: var(--button);
    
}


body.dark-mode div#servicesForm form {
    background-color: var(--background);
}
