body {
    display: block;
    background-color: antiquewhite;
    text-align: center;
}

.about-container {
    border: 5px;
    border-color:black;
    border-width: 5px;
}

.registration-form {
    text-align: left;
}
